@{
    ViewBag.Title = "Контакты";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Вакаренцев В.В.<br />
    <abbr title="Phone">P:</abbr>
    +79170836596
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:extevlad@yandex.ru">extevlad@yandex.ru</a>
</address>