@{
    ViewBag.Title = "EXTE Hotel";
}

<div class="row">
    <div class="col-md-8">
        <h2>Добро пожаловать!</h2>
        <p>
            На данном портале вы сможете узнать всю информацию о номерах нашего отеля, а также забронировать себе номер.
        </p>
    </div>
</div>
<div class="col-lg-6">
    @if (Session["UserID"] == null)
    {
        <p>
            Авторизуйтесь, чтобы забронировать номер в отеле.<br />
            <a href="/Account/Login">Войти</a>
        </p>
            <p>
                Нет аккаунта? <br />
                <a href="/Account/Register">Зарегистрироваться</a>
            </p>
    }
</div>